/* Cú pháp media responsive */


/* @media not|only mediatype and (media feature) {
    CSS-Code;
} */


/* PC */

@media (min-width: 1024px) {}


/* Tablet*/

@media (min-width: 740px) and (max-width: 1023px) {}


/* Phone */

@media (max-width: 739px) {
    #content .s-col-full {
        width: 100%;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav li:first-child {
        display: inline-block;
    }
    #nav li a {
        display: block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .menu-mobile-btn {
        display: block;
    }
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: 60%;
    }
}